.card-text {
  height: 100px; /* Adjust as needed */
  overflow-y: auto;
}
.card-img-top {
  height: 450px;
  width: 100%; /* Adjust as needed */
  object-fit: cover;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05); /* Adjust as needed */
}